*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
h2{
    color: #ff69c5;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to left top, #ff69c5, #8B53FF);
}
section header{
    width: 100%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section header p{
    font-size: 150%;
    font-family:'Times New Roman', Times, serif;
    color: #ebe9e0;
    text-align: center;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
section .button{
    background: #ff0019;
    width: 20%;
    border-radius: 15px;
    height: 10%;
}
section .button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
}
.wrapper p{
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
}
.wrapper p:first-child{
    left: 5px;
}
.wrapper p:last-child{
    right: 5px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) -12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel :where(.card, img){
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel .card{
    width: 250px;
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}
.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
.card .img{
    background: #8B53FF;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}
.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}
.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.card span{
    color: #6a6d78;
    font-size: 1.31rem;
}
@media (max-width: 1200px){
    .carousel .card:first-child{
        margin-left: 10px;
    }
    .wrapper .carousel {
        display: grid;
        grid-auto-columns: calc((100% / 2) - 50px);
        gap: -660px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 20%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 900px){
    .carousel .card:first-child{
        margin-left: 10px;
    }
    .wrapper .carousel {
        display: grid;
        grid-auto-columns: calc((100% / 2) - 50px);
        gap: -660px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 60%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 600px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 125px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 70%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}

@media (max-width: 590px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 155px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 470px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 100px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 414px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 80px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 393px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 20px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 390px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 70px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 375px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 10px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 360px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 55px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 320px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel .card:first-child{
        margin-left: 40px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}
@media (max-width: 280px){
    .wrapper .carousel {
        width: 250px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        grid-auto-columns: 100%;
    }
    .wrapper .carousel .img{
        margin-right: 40px;
    }
    .carousel .card:first-child{
        margin-left: 35px;
    }
    section header{
        width: 100%;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    section header p{
        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        color: #ebe9e0;
        text-align: center;
    }
    section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    section .button{
        background: #ff0019;
        width: 80%;
        border-radius: 15px;
        height: 10%;
    }
    section .button a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #f1f1f1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }
}

